.App {
  text-align: center;
  background-color: #f5f5f5;
  color: #1c3250;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.search-input {
  background: #24292d;
  border: none;
  padding: 1em;
  color: #f5f5f5;
  font-size: large;
  border-bottom: 1px solid #1c32502b;
  width: 100vw;
}

.owner {
  display: flex;
  text-align: left;
  margin-left: 3em;
  margin-top: 1em;
  justify-content: space-between;
}

.owner-name-logo {
  display: flex;
}

.owner h1 {
  margin-left: 0.5em;
  position: relative;
  font-size: xx-large;
  top: 15px;
}

.heading {
  text-align: left;
  margin-left: 2em;
  margin-bottom: 0;
}

.sub-heading {
  text-align: left;
  margin-left: 3em;
}

.cards-container {
  margin: 0 3em;
}

.placeholder {
  padding: 10em;
}

.repos-card {
  background: linear-gradient(-45deg,#23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: white;
  margin-right: 3em;
  width: 7em;
  border-radius: 1em;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1em;
}
