.App {
  text-align: center;
  background-color: #f5f5f5;
  color: #1c3250;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.search-input {
  background: #24292d;
  border: none;
  padding: 1em;
  color: #f5f5f5;
  font-size: large;
  border-bottom: 1px solid #1c32502b;
  width: 100vw;
}

.owner {
  display: flex;
  text-align: left;
  margin-left: 3em;
  margin-top: 1em;
}

.owner h1 {
  margin-left: 0.5em;
  position: relative;
  font-size: xx-large;
  top: 15px;
}

.heading {
  text-align: left;
  margin-left: 2em;
}

.cards-container {
  margin: 0 3em;
}

.placeholder {
  padding: 10em;
}
